<html>
<head>
    <title>New Football</title>
    <link href="css/custom.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Standing Position</h2>
    <form action="/football/team-standings">
        <label for="country">Country:</label><br>
        <input type="text" id="country" name="country" value="England"><br>
        <label for="league">League:</label><br>
        <input type="text" id="league" name="league" value="Championship"><br>
        <label for="team">Team:</label><br>
        <input type="text" id="team" name="team" value="Derby"><br><br>
        <input type="submit" value="Submit" id="submit-button">
    </form>

    <script src="js/custom.js"></script>
</div>
</body>
</html>